$primary:     #fbc500;
$secondary:   #000;
$alternative: #c43c20;
$gray:        #707070;
$brown:       #856440;
$brown-light: #F5F5F5;
$text-color:  #000;
$body-color:  $text-color;

$font-family-base: 'Barlow';
$headings-font-family: 'Barrio';
$headings-font-family-alternative: 'Barrio';

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 1100px,
        xl: 1340px
);

$btn-active-color:    $alternative;

$button-radius-range: (2, 5, 10, 20, 30, 60, 90, 120, 150, 180, 210, 240, 280);

$btn-font-family:   $headings-font-family;

//== Components

// Top panel
$top-panel-height: 60px;

// Forms
$form-border-color: $gray;

// Main menu
$main-menu-size: 1450px;
$nav-item-height: 50px;

// Filter
$filter-width: 1320px;

// Section Header
$section-header-height: (
    sm: 120px,
    md: 240px,
    xl: 320px
);

// Brand
$brand-sm-size: 250px;

// Mobile menu
$mobile-side-max-width:                 300px !default;
$mobile-side-bg:                        #f1f1f1 !default;
$mobile-side-close-bg:                  $gray !default;
$mobile-side-close-size:                40px !default;
$mobile-side-link-color:                #000 !default;
$mobile-side-link-bg:                   $mobile-side-bg !default;
$mobile-side-link-border:               rgba($primary, 0.3) !default;
$mobile-side-link-hover-color:          $primary !default;
$mobile-side-link-hover-bg:             darken($mobile-side-link-bg, 3%) !default;

// Modal
$close-button-size: 30px;

// Detail gallery
$desktop-offset: -100px;

/* ------------------------------------------------------------------------- */
/* Items per row & gutters >>> */
/* ------------------------------------------------------------------------- */
$gutters-map:               (5px, 10px, 15px, 20px, 25px, 30px) !default;
$max-items-per-row:         6 !default;
/* <<< Items per row & gutters */