.topBanner {
  display: flex;
  height: 400px;
  position: relative;
  margin-bottom: 40px;

  @include media-breakpoint-down(sm) {
    max-height: 300px;
  }
}

.topBanner__bg {
  position: absolute;
  @include size(100%);
  min-height: 300px;

  > img {
    @include fill();
    @include object-fit(cover);
  }

}

.topBanner--small {
  height: 200px;
  margin-bottom: 0;

  .topBanner__bg {
    min-height: 150px;
  }

  .topBanner__content {
    .title {
      font-family: $headings-font-family-alternative;
      color: $black;
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 55px;
      margin-top: $spacer;

      @include media-breakpoint-down(sm) {
        font-size: 40px !important;
        margin-top: 0;
      }
    }
  }
}

.topBanner__content {
  z-index: 2;
  @include center(vertical);

  @include media-breakpoint-down(sm) {
    top: 45px;
  }

  .title  {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    white-space: nowrap;
    font-family: $headings-font-family-alternative;

    small {
      font-family: $headings-font-family;
    }

    @include media-breakpoint-down(md) {
      font-size: 40px;

      &:before {
        width: 20px;
        height: 34px;
      }
    }

    b {
      font-family: $headings-font-family;
    }

  }

}

.topBanner__content--center {
  @include center();

  .title {
    flex-direction: initial;
    font-family: $headings-font-family-alternative;
  }
}

.topBanner__btn {
  position: absolute;
  bottom: -7.5vh;
  z-index: 2;

  @include media-breakpoint-down(sm) {
    bottom: 12px;

    .btn {
      font-size: 0.8em;
      padding: 0.3rem 0.5rem;
    }
  }
}

.topBanner__right {
  text-align: right;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: -100px;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  img {
    max-width: 100%;
    max-height: 450px;

    @include media-breakpoint-down(md) {
      max-height: 300px;
    }
  }
}

.topBanner--design {
  margin-bottom: 180px;

  .title {
    font-family: $headings-font-family;

    b {
      font-family: $headings-font-family-alternative;
    }
  }

  @include media-breakpoint-down(sm) {
    max-height: 200px;
    margin-bottom: 100px;

    .topBanner__bg {
      min-height: 200px;
    }

    .topBanner__content {
      top: 45%;

      .title {
        font-size: 20px;

        b {
          font-size: 30px;
        }
      }
    }

    .topBanner__btn {
      top: calc(50% + 2em);
    }

    .topBanner__right {
      display: block;
      bottom: -50px;

      img {
        max-width: 150px;
      }
    }
  }
}

.topBanner--frensiza {

  .topBanner__container {
    position: relative;
  }

  .topBanner__content {
    @include center();
    text-align: center;

    .title {
      color: #000;
      font-family: $font-family-base;
      font-size: 90px;
      font-weight: $font-weight-bold;

      @include media-breakpoint-down(sm) {
        font-size: 40px;
      }
    }

    img {
      max-width: 350px;
    }

  }

  .topBanner__btn {
    left: 20%;
    border-radius: 50%;
    font-size: 1.7em;
    line-height: 1;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    transform: rotate(-15deg);
    bottom: -35px;

    @include media-breakpoint-down(lg) {
      left: 10%;
    }

    @include media-breakpoint-down(sm) {
      bottom: -40px;
    }
  }
}

.topBanner--eshop {
  height: 400px;
  margin-bottom: 0;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  .slider {
    width: 100%;

    > .swiper-container {
      height: 100%;
    }
  }

  .topBanner__content {
    @include media-breakpoint-down(sm) {
      top: 50%;
    }
  }

  // texts
  .title {
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: $font-weight-bold;
    line-height: 1.1;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
    }

  }

  p {
    font-size: $h2-font-size;

    @include media-breakpoint-down(md) {
      font-size: 1.35rem;
    }
  }

  .btn {
    padding-left: $spacer * 3;
    padding-right: $spacer * 3;

    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }

  .title,
  p {
    color: $white;
  }

}