.btn {
  border-radius: 5px;
}

.btn-primary {
  color: #fff;
}

.btn-white {
  background-color: $white;
  color: $black;
  border: 1px solid $primary;
}

.btn-alternative {
  background-color: $alternative;
  color: #fff;
}

.btn-gradient {
  color: #fff;
  background: linear-gradient(0,#bf3322,#ed8f02);
}

.btn-normal {
  font-family: $font-family-base;
}

.btn-default {
  background-color: $dark;
  color: #fff;
}

.btn-wide {
  padding-left: $spacer * 2;
  padding-right: $spacer * 2;
}

.btn-unstyled {
  background: #fff;
  color: #000;
  padding: 0;
  border: none;
  box-shadow: none;
}

.btn-gold {
  background-color: #BAB37A;
  color: #fff;
  padding-top: $spacer / 2;
  padding-bottom: $spacer / 2;
}

.btn-outline-gold {
  background-color: transparent;
  color: #BAB37A;
  border: 2px solid #BAB37A;
  padding-top: $spacer / 2;
  padding-bottom: $spacer / 2;

  @include hover-focus() {
    background-color: #BAB37A;
    color: #fff;
  }
}

.btn-white-secondary {
  @extend .btn-secondary;
  background-color: #fff;
  color: #000;
  border: 2px solid;
  border-radius: $border-radius;
  padding: 6px 12px;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 600;
}

@each $range in $button-radius-range {
  .btn-#{$range} {
    transform: rotate(#{$range}deg);
  }

  .btn-m-#{$range} {
    transform: rotate(-#{$range}deg);
  }
}

.btn-to-form {
  text-transform: uppercase;
  font-size: 1.4rem;
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &.btn-primary {
    color: #000;
  }


}