footer {
  background-color: #1C1C1C;

  > .row {
    margin: 0;

    .footer-col {
      padding: $spacer * 1.5 $spacer * 2;

      @include media-breakpoint-down(lg) {
        padding-left: $spacer * 1.5;
        padding-right: $spacer * 1.5;
      }

      @include media-breakpoint-down(md) {
        padding-left: $spacer;
        padding-right: $spacer;
      }

      @include media-breakpoint-down(sm) {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: $spacer * 2;
        border-right: none;
      }
    }

    .footer-col--alternative {
      background-color: $gray-900;
      .footer__title,
      p {
        color: $white;
      }

    }
  }

  .footer__title {
    text-transform: uppercase;
    margin-bottom: $spacer * 2;
    font-size: 1.2rem;
    color: $white;
    font-weight: $font-weight-bold;

    @include media-breakpoint-down(sm) {
      margin-bottom: $spacer * 1.5;
    }
  }

  .footer__list {
    @include list-unstyled();

    li {
      margin-bottom: $spacer / 2;
    }

    a {
      color: $white;

      @include hover-focus() {
        color: $white;
      }
    }
  }

  .footer__list--left {
    li {
      text-align: left;
    }
  }

  .footer__list--right {
    li {
      text-align: right;
    }
  }
}

.footer-border {
  @include media-breakpoint-up(md) {
    border-right: 1px solid #fff;
  }
}