html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

@each $range in $button-radius-range {
  .r-#{$range} {
    transform: rotate(#{$range}deg);
    display: block;
  }

  .r-m-#{$range} {
    transform: rotate(-#{$range}deg);
    display: block;
  }
}