.title {
  color: #000;
  margin-bottom: $spacer;
  font-weight: $font-weight-bold;
}

.title--normal {
  font-family: $font-family-base;
}

.title--line {
  position: relative;
  display: flex;
  align-items: center;

  &.text-center {
    justify-content: center;
  }

  &:after {
    content: '';
    display: block;
    width: 30%;
    height: 2px;
    background-color: $alternative;
    @include center(vertical);
    top: calc(100% + 15px);
    left: 50%;
    transform: translate(-50%, 50%);
  }

}

.title--big {
  font-size: 6rem;

  @include media-breakpoint-down(sm) {
    font-size: 3rem;
    margin-left: $spacer / 2;
    margin-right: $spacer / 2;
  }
}

.title--story {
  text-transform: uppercase;
  color: #000;
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
  font-size: 4.5rem;
  margin-top: $spacer * 3;
  margin-bottom: $spacer * 2;

  @include media-breakpoint-down(sm) {
    text-align: left;
    margin-top: 18rem;
  }

  span {
    color: $primary;
    margin-left: -8px;
  }
}

.title--storyInvert {
  color: #fff;

  span {
    color: $primary;
    margin-left: 0;
  }
}

h5.title--story {
  font-size: 3.5rem;

  @include media-breakpoint-down(sm) {
    font-size: 3rem;
  }
}


.title--dark {
  color: $black;
}

.title__underline {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  position: relative;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-base * 1.5;
  }

  &:after {
    content: '';
    background-color: $alternative;
    height: 3px;
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100vw;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &.title__underline--right:after {
    left: 0;
  }

  &.title__underline--left:after {
    right: 0;
  }
}

$iconOffset: 50px;

.title__underline--hasIcon {
  img {
    position: absolute;
    max-width: $iconOffset;
    top: -10px;

    @include media-breakpoint-down(md) {
      top: -20px;
    }
  }

  span {
    position: relative;
    padding-left: $iconOffset - ($iconOffset / 2);
  }
}