@mixin get-stripe-offset($max-width: 100%, $offset: 0px) {
  padding-left: calc((100vw - #{$max-width} + #{$offset}) / 2);
  padding-right: calc((100vw - #{$max-width} + #{$offset}) / 2);
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);

  @media (max-width: calc(#{$max-width} + #{$grid-gutter-width})) {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}

@mixin stripe-variant($background) {
  color: color-yiq($background);
  background-color: $background;

  a {
    text-decoration: underline;
    &,
    &:hover,
    &:focus {
      color: color-yiq($background);
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.stripe {
  @include get-stripe-offset();
}

.stripe--full {
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;

  .productDetail & {
    padding-bottom: 10px;
  }
}

.stripe--blue,
.stripe--red,
.stripe--yellow {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  min-height: 500px;

  .title {
    color: #fff;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
  }

  p, span {
    font-size: 1.3rem;
  }

  .btn {
    min-width: 150px;
    color: #000;
    font-size: $font-size-lg * 1.5;
    padding-left: $spacer * 2;
    padding-right: $spacer * 2;
  }

  &:after {
    content: '';
    @include size(100%);
    @include center();
  }

}

.stripe--blue {
  background-image: url('../img/design/stiraci.png');

  &:after {
    background-color: rgba(63, 81, 181, 0.55);
  }
}

.stripe--red {
  background-image: url('../img/design/3dplneni.png');

  &:after {
    background-color: rgba(233, 30, 99, 0.55);
  }
}

.stripe--yellow {
  background-image: url('../img/design/3dplneni.png');

  &:after {
    background-color: rgba(255, 235, 59, 0.55);
  }
}


