.buyerpanel {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer;
  justify-content: space-between;
  flex-wrap: wrap;

  .priceLabel {
    font-size: 30px;
    flex: 1 0 50%;

    @include media-breakpoint-down(sm) {
      font-size: $font-size-lg;
      flex: 1 0 35%;
    }
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1;
    flex: 1 0 50%;

    @include media-breakpoint-down(sm) {
      flex: 1 0 65%;
      padding-top: 0;
    }

    .actual {
      font-size: 30px;
      font-weight: $font-weight-bold;

      @include media-breakpoint-down(sm) {
        font-size: 28px;
      }
    }

    small {
      margin-top: $spacer / 2;
      font-size: 18px;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }

    del {
      font-size: 22px;

      @include media-breakpoint-down(sm) {
        font-size: 20px;
      }
    }

  }

}

.buyerpanel--detail {

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }

  @include media-breakpoint-down(sm) {
    .borderWrapper {
      margin-bottom: 5rem;
    }
  }

  .buyerpanel__item {
    margin-left: 0;
    margin-right: 0;
    border-radius: $border-radius;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      display: flex;
    }
  }

  .buyerpanel__typeSelect {
    justify-content: space-around;

    @include media-breakpoint-down(sm) {
      padding: 0;
      margin-top: $spacer / 2;
      margin-bottom: $spacer * 2;
      width: 100%;
    }

    .inputCounter {

      @include media-breakpoint-down(sm) {
        .minus,
        .plus {
          @include size(20px);
        }
      }

      input {
        color: $black;
        border-color: $black;
      }
    }

    .type {
      height: 130px;

      @include media-breakpoint-down(sm) {
        height: 80px;
      }

      img {
        height: 100px;

        @include media-breakpoint-down(sm) {
          height: 80px;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .type__control {
      order: 1;

      span {
        font-size: 13px;
      }

      .type__title {
        display: none;
      }
    }

  }

  .price {
    @include media-breakpoint-down(sm) {
      padding-top: 0;

      small {
        margin-top: 6px;
        font-size: 14px;
      }
    }

    del {
      color: $danger;
    }
  }

  .buyerpanel__button {
    color: $black;
    flex: 1;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 1.5rem !important;
      min-height: initial;
    }
  }

}

.buyerpanel__item {
  display: flex;
  color: $black;
  background: #fff;
  margin: 0;
  padding: 0;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: $spacer * 3/4 $spacer;
    display: initial;
  }

  &:first-of-type {
    justify-content: space-between;
  }

  &:last-of-type {
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
}

.buyerpanel__item--noBg {
  background-color: transparent;
  color: #000;
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-down(sm) {
    max-width: 45%;
    margin-left: auto !important;
    text-align: right;
  }

  .price {
    align-items: initial;
  }
}

.buyerpanel__button {
  text-transform: uppercase;
  flex: 0 0 calc(100% - 72%);
  font-weight: $font-weight-bold;
  padding-top: $spacer * 0.75;
  padding-bottom: $spacer * 0.75;
  color: $white;
  -webkit-appearance: initial;

  @include media-breakpoint-down(sm) {
    margin-bottom: $spacer / 2;
    min-height: 60px;
  }
}

.buyerpanel__typeSelect {
  flex: 0 0 72%;
  display: flex;
  margin: $spacer 0;
  padding-right: 30px;

  @include media-breakpoint-down(md) {
    padding-right: 0;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    padding: 10px;
    margin-bottom: 0;
    display: initial;
  }

  .type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    @include media-breakpoint-down(sm) {
      justify-content: space-between;
    }

    img {
      @include size(80px);

      @include media-breakpoint-down(sm) {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.type--hide {
  display: none !important;
}

.type__control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: $spacer;

  @include media-breakpoint-down(sm) {
    margin: 0 auto;
  }
}

.type__title {
  font-size: 16px;
  font-weight: $font-weight-bold;
  text-align: center;
}

.type__image--hide,
.type__title--hide {
  display: none !important;
}

.buyerpanel--cart {
  background-color: transparent;
  color: #000;

  @include media-breakpoint-down(sm) {
    margin-top: $spacer / 2;
    flex-direction: row;
  }

  .price {
    flex: initial;

    small {
      display: none;
    }
  }

  .buyerpanel__typeSelect {
    margin: 0;
    padding-left: 30px;
    padding-right: 0;
    justify-content: space-around;
    width: 150px;

    @include media-breakpoint-down(md) {
      width: 130px;
      padding-left: 0;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }

    .type {
      flex-direction: column;

      @include media-breakpoint-down(sm) {
        span {
          font-size: $font-size-sm;
        }
      }

      img {
        max-width: 30px;
        height: 40px;
      }

      .inputCounter {
        @include media-breakpoint-down(sm) {
          margin-bottom: $spacer / 2;
        }
      }

    }
  }

  .inputCounter input {
    border-color: #000;
    color: #000;
  }
}

.buyerpanel__buttonWrap {
  display: flex;
  flex-direction: column;

  .backLink {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}

.buyerpanel__buttonWrap--detail {
  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 100px;
  }
}

.buyerpanel__buttonWrap--slim {
  max-width: 40%;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

.type__select--hide {
  display: none !important
}

.buyerpanel__variantSelect {
  &:not(.buyerpanel__variantSelect--mobile) {
    @include media-breakpoint-down(sm) {
      display: none;

      &:last-of-type {
        display: flex;
        align-items: flex-end;
        height: 110px;

        .buyerpanel__item {
          align-items: flex-end;
        }

        label {
          display: none;
        }
      }
    }
  }
}

.buyerpanel__variantSelect--mobile {
  display: none;

  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: space-around;
    text-align: center;

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1;

      input {
        margin-bottom: $spacer / 2;
      }

    }

  }
}


.buyerpanel--design {
  max-width: 75%;

  @include media-breakpoint-down(md) {
    max-width: 100%;

    .borderWrapper {
      margin-bottom: $spacer;
    }
  }

  .buyerpanel__buttonWrap--slim {
    max-width: initial;
    flex: 1;
    margin-top: $spacer * (3/4);
  }
}