.canProcessSlider .swiper-slide {
  .canProcessCard {
    border: 1px solid $black;
    min-height: 780px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 750px;
  }

}

.canProcessCard__image {
  height: 300px;
  position: relative;

  > img {
    @include fill();
    @include object-fit(cover);
  }
}

.canProcessCard__content {
  padding: $spacer * 1.5 $spacer * 1.5;

  .title, p {
    color: $black;
  }

}