.highlightMessage {
  display: flex;
  flex-direction: column;
  background-color: #575756;
  border-radius: 15px;
  margin-bottom: $spacer;

  .title {
    background: $primary;
    color: #fff;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 8px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0 5px 3px #4a4a4a;
  }

  .text {
    padding: 0 1.5em;
    color: $white;
  }
}

.highlightText {
  color: $primary;
  font-weight: $font-weight-bold;
  font-size: 1.5em;

  strong {
    color: $black;
    text-transform: uppercase;
  }
}

.highlightMessage--alternative {
  border-radius: 0;

  .title {
    background-color: $alternative;
    box-shadow: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: $h3-font-size;
  }

  hr {
    border-color: $white;
    margin-bottom: $spacer / 4;
    margin-top: $spacer / 4;
  }
}