.imageBg {
  position: relative;
  height: 100%;

  &:before {
    content: '';
    @include fill();
    transition: background-color 0.3s ease-in-out;
  }

  img {
    @include size(100%);
  }

  .btn {
    @include center();
    z-index: 1;
    opacity: 0;
  }

  @include hover-focus() {
    &:before {
      background-color: rgba(0, 0, 0, 0.6);
    }

    .btn {
      opacity: 1;
    }

  }
}