.imageBg {
  position: relative;
  height: 100%;
  overflow: hidden;

  img {
    @include size(100%);
    transition: transform 0.3s ease-in-out;
  }


  @include hover-focus() {
    img {
      transform: scale(1.05);
    }
  }
}