.inputCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: $white;

  input {
    width: 45px;
    text-align: center;
    background-color: transparent;
    font-size: $font-size-lg;
    -moz-appearance:textfield;
    -webkit-appearance: none;
    margin: 0;
    color: $black;
    border: none;
    font-weight: $font-weight-bold;
  }

  .minus,
  .plus {
    @include size(30px);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $black;
  }

  &.inputCounter--withBorder {
    border: 1px solid $black;
  }
}