.productCard {
  display: flex;
  color: $black;
  transition: all 0.3s ease-in-out;
  position: relative;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: transparentize($gray-300, 0.7);

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  @include media-breakpoint-down(sm) {
    align-items: center;
    margin-left: 0;
    margin-bottom: 0;
  }

  @include hover-focus() {
    .productCard__cover {
      opacity: 1;
      @include size(100%);
    }
  }
}

.productCard__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 1;
  position: relative;

  @media screen and (max-width: 1060px) {
    width: 100%;
    flex: initial;
  }

  @include media-breakpoint-down(sm) {
    padding: 5px;
    padding-top: 1.5rem;
  }

  > img {
    height: 300px;
    @include object-fit(contain);

    @include media-breakpoint-down(sm) {
      height: 230px;
    }
  }
}

.productCard__parameters {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-bottom: $spacer * 1.25;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  b {
    color: $black;
    font-weight: $font-weight-bold;
  }
}

.productCard__content {
  display: flex;
  flex-direction: column;
  padding: 2.5rem $spacer / 2;
  flex: 2;
  z-index: 1;
  color: $black;
  text-decoration: none;
  position: relative;
  justify-content: flex-start;

  @include hover-focus() {
    color: $black;
    text-decoration: none;
  }

  .title {
    height: 2em;
    min-height: max-content;
    margin-bottom: $spacer * 1.25;
    color: $black;
    font-weight: $font-weight-bold;
    font-size: $h5-font-size;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 1015px) {
      height: 5em;
      font-size: 18px;
      margin-bottom: 0.5rem;
    }

    @include media-breakpoint-down(md) {
      height: 3em;
    }

    @include media-breakpoint-down(sm) {
      height: auto;
    }

    @media screen and (max-width: 625px) {
      height: auto;
      margin-bottom: $spacer / 2;
    }
  }

  @media screen and (max-width: 1060px) {
    padding: 1.5rem $spacer * 4;
    margin-left: 0;
    width: 100%;

    .title {
      text-align: center;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 1.5rem $spacer / 2;
  }
}

.productCard__price {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  flex-wrap: wrap;
  max-width: 65%;

  .priceWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  @media screen and (max-width: 1690px) {
    max-width: 85%;
  }

  @media screen and (max-width: 1420px) {
    max-width: 100%;
  }

  @include media-breakpoint-down(sm) {
    display: block;
    margin-top: $spacer / 2;
    margin-bottom: $spacer;
    max-width: 100%;
    width: 100%;

  }

  .price {
    font-size: 20px;
    line-height: 1.2;
  }

  .price__actual {
    font-weight: $font-weight-bold;
    margin-bottom: $spacer / 4;
  }

  .price__noVat {
    flex: 1;
    font-size: 12px;
  }

  .price__del {
    font-size: 16px;
    order: -1;
    text-align: left;
    text-decoration: line-through;

    @include media-breakpoint-down(sm) {
      text-align: right;
    }
  }

}

.productCard__price--large {
  margin-bottom: $spacer / 2;

  .price {
    font-size: $h5-font-size;
    margin-bottom: $spacer / 6;
  }

  .price__actual {
    font-size: $h4-font-size;
  }

  .price__noVat {
    margin-top: $spacer / 6;
    font-size: $h6-font-size;
  }

  .priceWrapper {
    @include media-breakpoint-down(sm) {
      text-align: center;

      .price__del {
        text-align: center;
      }
    }
  }
}

.productCard__cover {
  opacity: 0;
  @include size(100%);
  @include fill();
  background-color: transparentize($black, 0.3);
  transition: 0.1s ease-in-out opacity;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  z-index: 10;
  
  .productCard__price {
    display: none;

    @include media-breakpoint-down(sm) {
      display: flex;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    opacity: 1;
    background-color: transparent;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.productCard__rate {
  display: flex;
  margin-bottom: $spacer;

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }

  .full,
  .half {
    display: block;
    @include size(20px);
    background-size: contain !important;
    margin-right: $spacer / 2;
  }

  .full {
    background: url('../svg/star.svg') center center no-repeat;
  }

  .half {
    background: url('../svg/halfStar.svg') center center no-repeat;
  }
}