.slider {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination--top {
  bottom: initial;
  top: 10px;
}

.swiper-pagination-bullet {
  @include size(12px);
  display: inline-block;
  border-radius: 100%;
  background: transparent;
  border: 1px solid $white;
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    @include size(8px);
  }
}

.swiper-pagination-bullet-active {
  background: $white;
}

.swiper-container > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}


.slider__image {
  z-index: 1;
  position: absolute;
}

.discover {
  z-index: 10;
  font-family: $headings-font-family;
  color: #000;
  font-size: 2em;
  display: inline;
  line-height: 1;

  @include hover-focus() {
    color: #000;
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }

  &.slider__more {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  &:after {
    content: '';
    background: transparent url('../svg/slider__more--invert.svg') center center no-repeat;
    display: block;
    @include size(80px);
    background-size: contain;
    position: relative;
    left: 15px;
    animation-duration: 2s;
    animation-name: jump;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    @include media-breakpoint-down(sm) {
      @include size(60px);
    }

  }

  &.slider__more {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;

    &:after {
      background-image: url('../svg/slider__more.svg');
    }

    @include media-breakpoint-down(sm) {
      bottom: 10vh;
    }
  }
}

.discover--center {
  &:after {
    left: 35px;

    @include media-breakpoint-down(sm) {
      left: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@keyframes jump {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}


.slider__content {
  position: absolute;
  top: calc(50% - 100px);
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  text-align: center;

  @include media-breakpoint-down(sm) {
    top: calc(50%);
  }

  .title {
    color: #fff;
    font-size: 2.5em;
    text-shadow: 1px 1px 3px #0000006e;

    @include media-breakpoint-down(sm) {
      font-size: 1.3rem;
      margin-bottom: 0;
    }
  }

  .title--bold {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 3.5em;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      font-size: 1.5em;
    }
  }

  .title--author {
    color: $primary;
    font-size: 2em;
    margin-top: $spacer;

    @include media-breakpoint-down(sm) {
      font-size: 1.25rem;
      margin-top: $spacer / 2;
    }

    &:before {
      content: '';
      width: 30%;
      height: 2px;
      background: $primary;
      margin: 0 auto $spacer auto;
      display: block;

      @include media-breakpoint-down(sm) {
        margin-top: $spacer / 4;
        margin-bottom: $spacer / 4;
      }
    }
  }

}

.swiper--thumbnails {
  @include media-breakpoint-down(sm) {
    display: flex;
  }
}

.slider--mobileSmall {
  @include media-breakpoint-down(sm) {
    height: 70%;

    .swiper-slide {
      display: flex;
      justify-content: center;
    }

    img {
      max-height: 250px;
      @include object-fit(contain);
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 0;
  width: 140px;
  height: 100%;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $black;
  background-color: transparentize($white, 0.6);

  @include media-breakpoint-down(sm) {
    width: 20px;
  }

  &:after {
    font-family: swiper-icons;
    font-size: 2.75em;
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;

    @include media-breakpoint-down(sm) {
      font-size: 1.2em;
    }
  }
}

.swiper-button-next {
  &:after {
    content: 'next';
    padding-right: $spacer;

    @include media-breakpoint-down(sm) {
      padding-right: 4px;
    }
  }
}

.swiper-button-prev {
  &:after {
    content: 'prev';
    padding-left: $spacer;

    @include media-breakpoint-down(sm) {
      padding-left: 4px;
    }
  }
}

.swiper-button-next {
  justify-content: flex-end;
  right: 0;
}

.swiper-container-autoheight .swiper-slide {
  height: auto !important;
}