.productCard__tags {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @include media-breakpoint-down(sm) {
    z-index: 2;
  }
}

.tag {
  display: flex;
}

.tag__item {
  padding: 5px 2px;
  text-align: center;
  width: 100%;
}

.tag__item--sale {
  background-color: #C4001B;
  color: #fff;
}

.tag__item--danger {
  background-color: rgba($danger, 0.75);
  color: color-yiq($danger);
}

.tag__item--info {
  background-color: rgba($info, 0.75);
  color: color-yiq($info);
}

.tag__item--success {
  background-color: rgba($success, 0.75);
  color: color-yiq($success);
}

.tag__item--warning {
  background-color: rgba($warning, 0.75);
  color: color-yiq($warning);
}
