.productCard__tags {
  position: absolute;
  height: calc(100% - 10px);
  top: 10px;
  left: 10px;
  z-index: 0;

  @include media-breakpoint-down(sm) {
    left: 5px;
  }
}

.tag {
  display: flex;
}

.tag__item {
  padding: 5px 2px;
  writing-mode: tb;
  transform: rotate(180deg);
  text-transform: uppercase;
  font-family: $headings-font-family;
  font-size: 23px;
  letter-spacing: 6px;
  text-align: center;

  .side {
    color: rgba(#fff, 0.5);
  }
}

.tag__item--sale {
  background-color: #C22F5B;
  color: #fff;
}

.tag__item--danger {
  background-color: rgba($danger, 0.75);
  color: color-yiq($danger);
}

.tag__item--info {
  background-color: rgba($info, 0.75);
  color: color-yiq($info);
}

.tag__item--success {
  background-color: rgba($success, 0.75);
  color: color-yiq($success);
}

.tag__item--warning {
  background-color: rgba($warning, 0.75);
  color: color-yiq($warning);
}

.productCard__stamp {
  background-color: #C22F5B;
  border: 4px solid #fff;
  color: $primary;
  border-radius: 50%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(75px);
  position: absolute;
  line-height: 1;
  text-align: center;
  bottom: 20px;
  right: 10px;
  transform: rotate(-20deg);
  font-weight: $font-weight-bold;
  font-size: 1.2rem;
  padding: 1px;
  box-shadow: 1px 2px 3px #00000054;
}