.topPanel {
  display: flex;
  background: $primary;
  padding: 0 70px;
  height: $top-panel-height;
  position: relative;
  box-shadow: 0 2px 10px #00000045;
  z-index: 2;

  @include media-breakpoint-down(lg) {
    height: 120px;
  }

  @include media-breakpoint-down(sm){
    height: $top-panel-height;
  }

  @media screen and (max-width: 1345px)  {
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 $spacer / 2;
    margin-bottom: 0;
  }

  a:not(.btn) {
    color: $gray;
  }

  img:not(.logo-img) {
    width: 27px;
    height: 27px;

    @include media-breakpoint-down(sm) {
      width: 20px;
      height: 20px;
    }
  }

}

.topPanel__item {
  display: flex;

  .icon {
    padding-right: $spacer;
    padding-left: $spacer;
    height: 100%;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      padding-left: $spacer / 2;
      padding-right: $spacer / 2;
    }

    .cart {
      padding-right: 0;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }

  }
}

.topPanel__item--links,
.topPanel__item--search,
.topPanel__item--cart {
  flex: 1;
  height: 100%;
  align-items: center;

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
}

.topPanel__item--links {
  padding-right: $spacer / 2;

  @include media-breakpoint-down(lg) {
    flex: 1;
  }

  @include media-breakpoint-down(sm) {
    justify-content: flex-start;

    .icon:first-of-type {
      padding-left: $spacer / 1.5;
    }
  }
}

.topPanel__item--cart {
  justify-content: flex-end;

  @include media-breakpoint-down(lg) {
    flex: 1;
  }

  @include media-breakpoint-down(sm) {
    flex: 2;
  }

  > .user {

    @include hover-focus() {
      ~ .accountPreview {
        display: block;
      }
    }

    @include media-breakpoint-down(sm) {
      padding-left: $spacer / 1.5;
    }

  }

}

.topPanel__item--search {
  position: relative;
  justify-content: center;
  flex: 4;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    flex: 2;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

  input {
    padding-right: 45px;
    border-radius: 7px;
  }

  button[type="submit"] {
    position: absolute;
    right: 0;
    top: 6px;
    background-color: transparent;
    border: none;
    padding-right: 10px;
    padding-bottom: 0;

    img {
      width: 20px;

      @include media-breakpoint-down(sm) {
        width: 15px;
      }
    }
  }

  form {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - #{$spacer * 4});

    @include media-breakpoint-down(lg) {
      width: calc(100% - #{$spacer * 2});
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

}