#backLink {
  cursor: pointer;
}

.backLink {
  max-width: $main-menu-size;
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: $black;
  font-size: 19px;
  font-weight: 600;

  &:not(.backLink--invert) svg {
    stroke: #fff;
  }

  @include hover-focus() {
    color: $secondary;

    svg {
      stroke: $secondary;
    }
  }
}

.backLink--invert {
  color: #000;
}

.backLinkBlock {
  background-color: $gray-200;
  color: $black;
  padding: 10px 70px 10px 13px;
  border-radius: 4px;
  margin: $spacer * 2 0;
}