.productDetail__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: $spacer * 2;

  // simulate col-md-9 offset
  margin-left: calc(((100% / 12) * 4) + 5px);
  max-width: calc(((100% / 12) * 8) + 5px);


  @include media-breakpoint-down(sm) {
    margin-top: 0;
    margin-left: 0;
    max-width: 100%;
  }

  h1 {
    font-size: 2rem;
    flex: 1 0 75%;
    max-width: 70%;
    color: #000;
    font-weight: $font-weight-bold;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      margin-left: 0;
      font-size: $font-size-lg * 2;
      text-align: center;
      color: $text-color;
    }
  }

  .price {
    display: none;
    flex: 0 1 100%;
    flex-wrap: wrap;
    margin-bottom: $spacer;
    flex-direction: column;
    line-height: 1.2;

    del {
      color: $primary;
    }

    .actual {
      font-size: 1.5rem;
      font-weight: 900;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
    }
  }
}

.productDetail__gallery {
  margin-top: $desktop-offset;

  img {
    max-width: 100%;
    z-index: 1;
    position: relative;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
}

.detailGallery {
  display: flex;
  height: 100%;
  position: relative;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  .preview {
    width: 20%;
    position: relative;
    flex: 1;
    display: flex;
    overflow: hidden;

    .swiper--thumbnails {

      .swiper-wrapper {
        transform: none !important;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .swiper-slide-active {
      background: #f9f9f9;
      border-radius: 26px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      display: none;
    }
  }

  .mainGallery {
    width: 80%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.productDetail__params {
  display: flex;
  flex-direction: column;
  margin-top: $spacer;
  max-width: 650px;

  @include media-breakpoint-down(sm) {
    margin-right: 0;

    &:not(.productDetail__params--top) {
      max-width: 50%;
      position: absolute;

      .productDetail__paramsItem {
        font-size: 15px;
      }
    }
  }

  @media (max-width: 510px) {
    &:not(.productDetail__params--top) {
      max-width: 100%;
      position: relative;
    }
  }

  .productDetail__paramsItem {
    margin-bottom: 5px;
    display: flex;
    color: #000;

    span {
      margin-right: $spacer / 2;
    }
  }

}

.productDetail__params--top {
  flex-direction: row;

  @include media-breakpoint-down(sm) {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .productDetail__paramsItem {
    flex: initial;
    display: flex;
    justify-content: initial;
    flex-wrap: wrap;
    line-height: 1.2;
    flex-direction: row;
    border-right: 2px solid #000;
    padding-right: 10px;
    margin-right: 0.75rem;

    @include media-breakpoint-down(sm) {
      font-size: 13px;
      margin-right: 0;
      border: none;
      flex-wrap: initial;
      padding-right: 0;
    }

    &:last-of-type {
      border-right: none;
    }

    span {
      margin-bottom: $spacer / 4;
      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }
  }
}

